# Comprobar los valores de $PM_{2.5}$ con la Informe

In [1]:
suppressMessages(library(readxl))
suppressMessages(library(saqgetr))
suppressMessages(library(tidyverse))
suppressMessages(library(lubridate))

In [2]:
file <- "../data/xlsx/estaciones-CA-JA.xlsx"
sheets <- c("todas", "traffic", "traffic-urban", "traffic-urban-2020",
            "traffic-suburban", "traffic-suburban-2020",
            "ciudades-100000", "ciudades-100000-A")
# xlsx files
sites.100mil <- read_excel(file, sheet=sheets[1])

In [3]:
head(sites.100mil)

  ID  Site    Site name            Latitude Longitude Elevation Country
1 602 es1741a PLAYA DEL INGLÉS     27.76365 -15.56385  17       spain
2 603 es1742a SAN AGUSTÍN          27.77260 -15.54188  15       spain
3 623 es1763a CASTILLO DEL ROMERAL 27.80128 -15.46116  13       spain
4 876 es2024a ECHEDO-VALVERDE      27.83177 -17.92167 375       spain
5 608 es1748a ES1748A-SARDINA      27.84944 -15.46583 190       spain
6 604 es1744a ARINAGA              27.86907 -15.38715  23       spain
  Country-ISO-code Type       Site area Data_start          Data_end
1 ES               traffic    urban     38353               2020-10-12 00:00:00
2 ES               traffic    urban     38353               2020-10-11 23:00:00
3 ES               industrial urban     38353               2020-10-12 00:00:00
4 ES               background suburban  2012-01-21 00:00:00 2020-08-26 15:00:00
5 ES               industrial suburban  38353               2010-04-06 09:00:00
6 ES               industrial rural     38353               2020-10-12 00:00:00
  Network    EU_code     eoi_code observation count Data source
1 NET_ES205A STA_ES1741A ES1741A  763144            airbase; aqer:e1a; aqer:e2a
2 NET_ES205A STA_ES1742A ES1742A  787054            airbase; aqer:e1a; aqer:e2a
3 NET_ES205A STA_ES1763A ES1763A  770065            airbase; aqer:e1a; aqer:e2a
4 NET_ES205A STA_ES2024A ES2024A  117065            airbase; aqer:e1a; aqer:e2a
5 NA         NA          NA       158819            airbase
6 NET_ES205A STA_ES1744A ES1744A  683538            airbase; aqer:e1a; aqer:e2a

In [5]:
sites.names <- c("PRINCIPES", "CARRANQUE", "LEPANTO", 
                 "PALACIO CONGRESOS", "RENOVALES", "PURIFICACIÓN TOMÁS", "LA MISERICORDIA",
                 "AEMET", "TETUÁN", "BURGOS 4", "ALBACETE", "DARP", "BF-RUBÍ (CA N'ORIOL)", 
                 "MATARO-LABORATORID'AIGES", "IES GOYA", "IN-BARCELONA(VALL D'HEBRON)", 
                 "VALÈNCIA-VIVERS", "ALACANT-FLORIDA-BABEL", "CASTELLO - ITC", "BADAJOZ", 
                 "TORRE DE HÉRCULES", "FAROLILLO", "TORREJON DE AROZ II", "ALCORCÓN 2",
                 "CENTRO CULTURAL ALFREDO KRAUSS", "JUNTA MUNICIPAL DE MORATALAZ", "MOMPEAN",
                 "ITURRAMA", "AVENIDA TOLOSA", "PARQUE EUROPA", "LA CIGÜEÑA"
                )

In [6]:
sites.PM25 <- sites.100mil[sites.100mil$"Site name" %in% sites.names, ]

In [7]:
sites.PM25$"Site name"

 [1] "CARRANQUE"             "PRINCIPES"             "MOMPEAN"
 [4] "LEPANTO"               "ALACANT-FLORIDA-BABEL" "BADAJOZ"
 [7] "ALBACETE"              "VALÈNCIA-VIVERS"       "FAROLILLO"
[10] "RENOVALES"             "ITURRAMA"              "TETUÁN"

In [8]:
suppressMessages(dataPM2.5 <- get_saq_observations(
    site = levels(as.factor(sites.PM25$Site)),
    variable = "pm2.5",
    #valid_only = TRUE,
    start = "2009-01-01",
    #end = end_dt,
    #verbose = TRUE
))

In [9]:
head(dataPM2.5)

  date       date_end site    variable process summary validity unit   value
1 2009-01-07 <NA>     es0126a pm2.5    31647   20      1        ug.m-3 11
2 2009-01-10 <NA>     es0126a pm2.5    31647   20      1        ug.m-3 28
3 2009-01-13 <NA>     es0126a pm2.5    31647   20      1        ug.m-3 59
4 2009-01-16 <NA>     es0126a pm2.5    31647   20      1        ug.m-3 35
5 2009-01-19 <NA>     es0126a pm2.5    31647   20      1        ug.m-3  8
6 2009-01-22 <NA>     es0126a pm2.5    31647   20      1        ug.m-3  5

In [10]:
source("../src/funciones.R")

### Resolucion de 1 dia <a id="resody"></a>

In [11]:
annual.mn <- data.frame()

for (st in levels(as.factor(dataPM2.5$site))) {
    print(st)
    a <- group.day <- group.by.date(dataPM2.5[dataPM2.5$site == st, ], by="year", FUN="mean")
    annual.mn <- rbind(a, annual.mn)
}

[1] "es0126a"
[1] "es1425a"
[1] "es1472a"
[1] "es1529a"
[1] "es1535a"
[1] "es1601a"
[1] "es1619a"
[1] "es1641a"
[1] "es1750a"
[1] "es1799a"
[1] "es1915a"
[1] "es1921a"

In [12]:
head(annual.mn)

  date       site    variable unit   value
1 2009-01-01 es1921a pm2.5    ug.m-3 16.41321
2 2010-01-01 es1921a pm2.5    ug.m-3 13.71355
3 2011-01-01 es1921a pm2.5    ug.m-3 10.30316
4 2012-01-01 es1921a pm2.5    ug.m-3 11.49431
5 2013-01-01 es1921a pm2.5    ug.m-3 12.21945
6 2014-01-01 es1921a pm2.5    ug.m-3 10.23735

In [14]:
b <- merge(x = annual.mn,
           y = sites.PM25 %>%
               select("Site", "Site name"),
           by.x = "site",
           by.y = "Site"
          )

In [16]:
b[b$"Site name" == "PRINCIPES", ]

   site    date       variable unit   value    Site name
12 es1425a 2009-01-01 pm2.5    ug.m-3 18.54444 PRINCIPES
13 es1425a 2010-01-01 pm2.5    ug.m-3 16.93362 PRINCIPES
14 es1425a 2011-01-01 pm2.5    ug.m-3 17.53678 PRINCIPES
15 es1425a 2012-01-01 pm2.5    ug.m-3 18.25824 PRINCIPES
16 es1425a 2013-01-01 pm2.5    ug.m-3 16.19890 PRINCIPES
17 es1425a 2014-01-01 pm2.5    ug.m-3 13.81579 PRINCIPES
18 es1425a 2015-01-01 pm2.5    ug.m-3 15.77477 PRINCIPES
19 es1425a 2016-01-01 pm2.5    ug.m-3 14.35345 PRINCIPES
20 es1425a 2017-01-01 pm2.5    ug.m-3 14.62281 PRINCIPES
21 es1425a 2018-01-01 pm2.5    ug.m-3 14.07913 PRINCIPES
22 es1425a 2019-01-01 pm2.5    ug.m-3 14.27797 PRINCIPES

In [46]:
resumen <- data.frame()

for (st in levels(as.factor(b$"Site name"))) {
    by.site <- b[b$"Site name" == st, ]
    for (yr in levels(as.factor(by.site$date))) {
        resumen[st, as.character(year(yr))] <- by.site[by.site$date == date(yr), "value"]
    }
}

In [48]:
resumen

                      2009     2010     2011     2012      2013      2014
ALACANT-FLORIDA-BABEL 14.55090 12.68421 11.46957 12.514768 13.604418 13.636364
ALBACETE              14.71578 14.52988 13.33468 11.137630 10.726534 17.823924
BADAJOZ               12.31810  9.31441 10.29452  9.834731  8.242073  8.502632
CARRANQUE             18.51035 18.52150 14.75402 11.222857 10.195266 10.711864
FAROLILLO             13.36364 14.09836 14.00971 13.685083 11.325843 10.432203
ITURRAMA                    NA 13.26166 14.76986 11.893728 10.005033 10.533946
LEPANTO               14.43793 15.68940 13.91171 16.059172 11.511494 13.838983
MOMPEAN               16.41321 13.71355 10.30316 11.494310 12.219449 10.237353
PRINCIPES             18.54444 16.93362 17.53678 18.258242 16.198895 13.815789
RENOVALES                   NA 13.99537 13.63095 11.335404 11.643443 11.358804
TETUÁN                13.75410 11.63333 11.95124 12.263529 10.403315 10.108333
VALÈNCIA-VIVERS       17.03704 14.50867 16.64048 17.000000 13.435666 15.509494
                      2015      2016      2017      2018      2019
ALACANT-FLORIDA-BABEL 12.345763 12.938838 12.305455 11.291429  9.960894
ALBACETE              11.421946 11.089241 10.549205 10.415763 10.558968
BADAJOZ                8.566949  9.324528  8.450463  7.874138  9.012963
CARRANQUE             13.063636 10.572650 10.772807  9.300833 13.085075
FAROLILLO             12.000000 11.638655 11.630631 11.543860 13.644068
ITURRAMA              10.411076 10.021591  8.961682  8.305085 13.147541
LEPANTO               17.229730 16.587156 24.141880 14.671930 13.295082
MOMPEAN               11.344475 14.669374 12.897238 10.707955 11.565444
PRINCIPES             15.774775 14.353448 14.622807 14.079130 14.277966
RENOVALES             11.111111 11.800000 13.124277 11.262195 10.103896
TETUÁN                 9.347826  8.846154 10.018182 10.576577 10.207547
VALÈNCIA-VIVERS       16.208754 19.204861 16.249057 12.364912 11.097222
                      2020     2021
ALACANT-FLORIDA-BABEL       NA        NA
ALBACETE              8.737124  9.230986
BADAJOZ                     NA        NA
CARRANQUE                   NA        NA
FAROLILLO                   NA        NA
ITURRAMA                    NA        NA
LEPANTO                     NA        NA
MOMPEAN                     NA 13.546961
PRINCIPES                   NA        NA
RENOVALES                   NA        NA
TETUÁN                      NA        NA
VALÈNCIA-VIVERS             NA        NA

In [49]:
sites.PM25[!(sites.PM25$"Site name" %in% b$"Site name"), ]

     ID Site Site name Latitude Longitude Elevation Country Country-ISO-code
     Type Site area Data_start Data_end Network EU_code eoi_code
     observation count Data source

In [50]:
sites.names[-which(sites.names %in% b$"Site name")]

 [1] "PALACIO CONGRESOS"              "PURIFICACIÓN TOMÁS"
 [3] "LA MISERICORDIA"                "AEMET"
 [5] "BURGOS 4"                       "DARP"
 [7] "BF-RUBÍ (CA N'ORIOL)"           "MATARO-LABORATORID'AIGES"
 [9] "IES GOYA"                       "IN-BARCELONA(VALL D'HEBRON)"
[11] "CASTELLO - ITC"                 "TORRE DE HÉRCULES"
[13] "TORREJON DE AROZ II"            "ALCORCÓN 2"
[15] "CENTRO CULTURAL ALFREDO KRAUSS" "JUNTA MUNICIPAL DE MORATALAZ"
[17] "AVENIDA TOLOSA"                 "PARQUE EUROPA"
[19] "LA CIGÜEÑA"