# Check AirQuality Stations

Filtre air quality sites in order to obtain those with the main requisites needed to our study.                                      

- Have data from any of the following pollutants:                                                                                                                                                                                       
    NO2, NO, O3, PM10, PM2.5                                                                                                                                                                                                          
- Don't miss any year of data

In [1]:
setwd("~/Repositories/AirQualityCOVID/")

## Funciones Utiles

In [16]:
get.miss.stations <- function(new.df, miss.df) {
    sitesAQ <- read.csv("data/Curation/sitesAQ.csv")
    
    miss.site <- levels(as.factor(miss.df[!(miss.df$site %in% new.df$site), "site"]))
    
    sitesAQ[(sitesAQ$site %in% miss.site), c("site", "site_name")]
}

In [3]:
count.miss.pollutant <- function(dataframe) {
    count <- c()
    
    for (pll in levels(as.factor(dataframe$Pollutant))) {
        count <- c(count, 
                   #length(levels(as.factor(dataframe[dataframe$Pollutant == pll, "site"])))
                   nrow(dataframe[dataframe$Pollutant == pll, ])
                  )
        names(count)[length(count)] <- pll
    }
    count
}

## Todas las estaciones de estudio

In [4]:
info.sitesAQ <- read.csv("data/Curation/info_sitesAQ.csv")
info.sitesAQ <- info.sitesAQ[complete.cases(info.sitesAQ), ]
head(info.sitesAQ)

  site    Pollutant start_yr   end_yr     hv.min mss.wk mss.mnth mss.yr
2 es2047a no2       2014-01-01 2021-01-16  TRUE   59    12       1
3 es2047a no        2014-01-01 2021-01-16  TRUE   59    12       1
4 es2042a o3        2013-04-08 2021-01-15  TRUE   13     3       0
5 es2042a no2       2018-01-01 2021-01-15  TRUE  270    61       5
6 es2042a no        2018-01-01 2021-01-15  TRUE  270    61       5
7 es2031a pm10      2020-01-14 2021-01-16 FALSE  375    85       7

In [5]:
print(paste("Num Estaciones: ", 
            length(levels(as.factor(info.sitesAQ$site)))
            )
     )

print(paste("Pares (Estacion, contaminante): ", 
            nrow(info.sitesAQ)
            )
     )

[1] "Num Estaciones:  67"
[1] "Pares (Estacion, contaminante):  273"

## Datos Minimos

Tienen datos de la concentracion del contaminante en el intervalo minimo de estudio

In [7]:
sites.hvmin <- info.sitesAQ[info.sitesAQ$hv.min == TRUE &
                            !is.na(info.sitesAQ$hv.min), ]
head(sites.hvmin)

  site    Pollutant start_yr   end_yr     hv.min mss.wk mss.mnth mss.yr
2 es2047a no2       2014-01-01 2021-01-16 TRUE    59    12       1
3 es2047a no        2014-01-01 2021-01-16 TRUE    59    12       1
4 es2042a o3        2013-04-08 2021-01-15 TRUE    13     3       0
5 es2042a no2       2018-01-01 2021-01-15 TRUE   270    61       5
6 es2042a no        2018-01-01 2021-01-15 TRUE   270    61       5
8 es2031a no2       2013-01-01 2021-01-16 TRUE    19     1       0

In [8]:
print(paste("Num Estaciones: ", 
            length(levels(as.factor(sites.hvmin$site)))
            )
     )

print(paste("Pares (Estacion, contaminante): ", 
            nrow(sites.hvmin)
            )
     )

[1] "Num Estaciones:  66"
[1] "Pares (Estacion, contaminante):  239"

Se muestran los valores eliminados

In [9]:
no.sites.hvmin <- info.sitesAQ[!info.sitesAQ$hv.min, ]

stations <- get.miss.stations(sites.hvmin, no.sites.hvmin)
pollut <- count.miss.pollutant(no.sites.hvmin)

print(paste("Estaciones Perdidas: ", 
            stations
            )
     )

for (i in 1: length(pollut)) {
    print(paste(names(pollut[i]), pollut[[i]], sep=": "))
}

[1] "Estaciones Perdidas:  CORLAB 1"
[1] "no: 1"
[1] "no2: 1"
[1] "o3: 4"
[1] "pm10: 13"
[1] "pm2.5: 15"

# No Falta Anhos

In [10]:
sites.hvyr <- sites.hvmin[sites.hvmin$mss.yr <= 1, ]
head(sites.hvyr)

   site    Pollutant start_yr   end_yr     hv.min mss.wk mss.mnth mss.yr
2  es2047a no2       2014-01-01 2021-01-16 TRUE   59     12       1
3  es2047a no        2014-01-01 2021-01-16 TRUE   59     12       1
4  es2042a o3        2013-04-08 2021-01-15 TRUE   13      3       0
8  es2031a no2       2013-01-01 2021-01-16 TRUE   19      1       0
9  es2031a no        2013-01-01 2021-01-16 TRUE   19      1       0
11 es2030a pm10      2013-01-03 2021-01-16 TRUE   21      2       0

In [11]:
print(paste("Num Estaciones: ", 
            length(levels(as.factor(sites.hvyr$site)))
            )
     )

print(paste("Pares (Estacion, contaminante): ", 
            nrow(sites.hvyr)
            )
     )

[1] "Num Estaciones:  63"
[1] "Pares (Estacion, contaminante):  209"

In [18]:
no.sites.hvyr <- sites.hvmin[sites.hvmin$mss.yr > 1, ]

stations <- get.miss.stations(sites.hvyr, no.sites.hvyr)
pollut <- count.miss.pollutant(no.sites.hvyr)

print("Estaciones Perdidas: ")
for (i in 1:nrow(stations)) {
    print(paste("    ", 
                stations[i, "site"], ": ",
                stations[i, "site_name"], sep=""))
}


for (i in 1:length(pollut)) {
    print(paste(names(pollut[i]), pollut[[i]], sep=": "))
}

[1] "Estaciones Perdidas: "
[1] "    es0041a: DIRECCIÓN DE SALUD"
[1] "    es1836a: LAS FUENTES"
[1] "    es1837a: CENTRO"
[1] "no: 3"
[1] "no2: 4"
[1] "o3: 7"
[1] "pm10: 7"
[1] "pm2.5: 9"

In [19]:
info.sitesAQ[info.sitesAQ$site == "es0118a",]

    site    Pollutant start_yr   end_yr     hv.min mss.wk mss.mnth mss.yr
265 es0118a pm2.5     2013-01-01 2020-12-30 TRUE   5      1        1
266 es0118a pm10      2013-01-01 2020-12-30 TRUE   4      1        1
267 es0118a o3        2013-01-01 2020-12-30 TRUE   1      1        1
268 es0118a no2       2013-01-01 2020-12-30 TRUE   1      1        1
269 es0118a no        2013-01-01 2020-12-30 TRUE   1      1        1