# Merge All Data

Merge air quality, AEMET climate and ERA5-Land data for each station.

The whole curation process have been performed using the `src/` scripts and this notebook only show examples of the process for monitoring sites in Madrid capital.

In [1]:
# Load packages
suppressMessages(library(tidyverse))
suppressMessages(library(lubridate))

In [2]:
# Working directory
setwd("AirQualityCOVID/")

# Source some scripts 
source("src/functions.R")

### Main Variables

In [3]:
start_dt <- ymd_hms("2013-01-01 00:00:00")
end_dt <- ymd_hms("2020-12-31 00:00:00")

## Stations Information

In [4]:
#-----------------------------
#    Air Quality Stations
#-----------------------------

sites.AQ <- read.csv("data/curation/checked_AQ.csv",
                    stringsAsFactor=T) %>%
                filter(Municipio == "Madrid") %>%
                mutate(site=as.character(site))

#-----------------------------
#       AEMET Stations
#-----------------------------

sites.AEMET <- read.csv("data/curation/checked_AEMET.csv",
                        stringsAsFactor=F, colClasses=c("indicativo"="character")) %>%
                filter(siteAQ %in% sites.AQ$site)

#-----------------------------
#       WorldMet Stations
#-----------------------------

sites.NOAA <- read.csv("data/curation/checked_NOAA-ISD.csv",
                     stringsAsFactor=T) %>%
                filter(siteAQ %in% sites.AQ$site)

In [5]:
head(sites.AQ)

  site    variable site_name            latitude longitude elevation country
1 es0118a no       ESCUELAS AGUIRRE     40.42167 -3.682222 672       spain
2 es0118a no2      ESCUELAS AGUIRRE     40.42167 -3.682222 672       spain
3 es0118a o3       ESCUELAS AGUIRRE     40.42167 -3.682222 672       spain
4 es0118a pm10     ESCUELAS AGUIRRE     40.42167 -3.682222 672       spain
5 es0118a pm2.5    ESCUELAS AGUIRRE     40.42167 -3.682222 672       spain
6 es0120a no       RAM\303\223N Y CAJAL 40.45167 -3.677222 708       spain
  site_type site_area date_start          date_end            Municipio
1 traffic   urban     2002-11-19 00:00:00 2021-05-10 19:00:00 Madrid
2 traffic   urban     2002-11-19 00:00:00 2021-05-10 19:00:00 Madrid
3 traffic   urban     2002-11-19 00:00:00 2021-05-10 19:00:00 Madrid
4 traffic   urban     2002-11-19 00:00:00 2021-05-10 19:00:00 Madrid
5 traffic   urban     2002-11-19 00:00:00 2021-05-10 19:00:00 Madrid
6 traffic   urban     2002-01-01 00:00:00 2021-05-10 19:00:00 Madrid
  Poblaci..n Estaci..n.tr..fico
1 3266126    ESCUELAS\302\240AGUIRRE
2 3266126    ESCUELAS\302\240AGUIRRE
3 3266126    ESCUELAS\302\240AGUIRRE
4 3266126    ESCUELAS\302\240AGUIRRE
5 3266126    ESCUELAS\302\240AGUIRRE
6 3266126    RAM\303\223N\302\240Y\302\240CAJAL

## n-Table 

Table with all the relations between Air Quality stations with AEMET and WorldMet stations code

| siteAQ  | AEMET |   WorldMet   |
|---------|-------|--------------|
| es1580a | 1111  | 080210-99999 |
| es0118a | 3195  | 082230-99999 |
| es1438a | 0201D | 081810-99999 |
| es1340a | 4642E | 083830-99999 |

In [6]:
nn.stations <- data.frame()

for (st in levels(as.factor(sites.AQ$site))) {
    nn.stations <- rbind(nn.stations,
                         data.frame(siteAQ = as.factor(st),
                                    AEMET = as.factor(sites.AEMET[sites.AEMET$siteAQ == st,
                                                                  "indicativo"]),
                                    NOAA = sites.NOAA[sites.NOAA$siteAQ == st,
                                                              "code"]
                                   )
                        )
}
head(nn.stations)

  siteAQ  AEMET NOAA
1 es0118a 3195  082230-99999
2 es0120a 3195  082210-99999
3 es1426a 3195  082210-99999
4 es1521a 3195  082210-99999
5 es1525a 3195  082230-99999
6 es1938a 3195  082230-99999

## ERA5-Land Data

In [7]:
#-----------------------------
#    ERA5-Land Data
#-----------------------------

folder.ERA5.Land <- "data/curation/ERA5-Land/"

# Relative Humidity
load(paste(folder.ERA5.Land,
           "rh_daily_2010_2020_final_stations.rda", sep=""))

rh.ERA5.Land <- data.as.datetime(df, "dates", "ymd") %>%
                    add_column(variable="RH", .after="dates")

# Solar radiation
load(paste(folder.ERA5.Land, 
           "ssrd_daily_2010_2020_final_stations.rda", sep=""))

ssrd.ERA5.Land <- data.as.datetime(df, "dates", "ymd") %>%
                    add_column(variable="solar.radiation", .after="dates")

ERA5.Land <- rbind(rh.ERA5.Land, ssrd.ERA5.Land)

## Merge Process

In [8]:
# Folder wherever take downloaded data, if it exists
Mto.files <- "data/curation/"

data_Mto <- data.frame()

In [9]:
for (st in levels(nn.stations$siteAQ)) {
    
    if (st %in% names(ERA5.Land)) {

        code <- nn.stations[nn.stations$siteAQ == st, "NOAA"]

        data.NOAA <- read.csv(paste(Mto.files, "NOAA-ISD/",
                                     code, ".csv", sep=""), stringsAsFactor=F) %>%
                        data.as.datetime("date", "ymd") %>%
                        select(-"code")

        indicativo <- nn.stations[nn.stations$siteAQ == st, "AEMET"]

        data.AEMET <- read.csv(paste(Mto.files, "AEMET/",
                                     indicativo, ".csv", sep=""), stringsAsFactor=F) %>%
                        data.as.datetime("fecha", "ymd") %>%
                        select("fecha", "tmed", "prec", 
                               "tmin", "tmax", "presMax", "presMin"
                               )

        data.row <- merge(x = data.NOAA, y = data.AEMET,
                            by.x = "date", by.y = "fecha", all = TRUE)

        for (vr in levels(as.factor(ERA5.Land$variable))) {
            data.row <- merge(x = data.row, 
                              y = ERA5.Land[ERA5.Land$variable == vr,
                                            c("dates", st)],
                              by.x = "date", by.y = "dates", all.x = TRUE
                             )
            names(data.row)[ncol(data.row)] <- vr
        }

        data.row[, "site"] <- st
        data_Mto <- rbind(data_Mto, data.row)
    }
}

head(data_Mto)

  date       ws        wd        tmed prec tmin tmax presMax presMin RH
1 2013-01-01 0.8571429 225.29494 6.4  0     3.4  9.4 945.9   940.2   80.65828
2 2013-01-02 0.9321429 355.50018 5.8  0     0.7 10.8 950.3   945.9   75.60469
3 2013-01-03 0.8607143  75.49246 6.8  0     2.8 10.8 959.8   950.3   67.31548
4 2013-01-04 0.1071429        NA 6.2  0     1.6 10.8 959.8   956.7   69.89121
5 2013-01-05 0.4500000 261.60039 4.9  0    -0.4 10.2 956.8   952.9   73.00545
6 2013-01-06 0.4892857 178.49970 5.1  0     0.7  9.5 953.0   949.6   80.61580
  solar.radiation site
1  58.83178       es0118a
2  71.71485       es0118a
3  84.82211       es0118a
4 107.96104       es0118a
5 110.16858       es0118a
6 111.74950       es0118a