# Estaciones Meteorologicas

## Configuracion del notebook <a id="config"></a>

Cargamos todos los paquetes necesarios para ejecutar el notebook

In [1]:
setwd("~/Repositories/AirQualityCOVID/")

In [2]:
# Loading
suppressMessages(library(worldmet))
suppressMessages(library(tidyverse))
suppressMessages(library(lubridate))

## Datos de las Estaciones Meteorologicos

Se pueden localizar las estaciones meteo mas cercanas a una estacion de CA mediante mapa. Puesto que faltan muchos datos, se obtiene la informacion de las 3 estaciones meteorologicas mas cercanas a cada estacion de calidad del aire.

In [3]:
sitesAQ <- read.csv("data/curation/sitesAQ.csv",
                    stringsAsFactor=TRUE)

In [4]:
sitesMto <- data.frame()
sites.lv <- levels(sitesAQ$site)[1:2]

for (i in 1:length(sites.lv)) {
    mto <- getMeta(lat = sitesAQ[sitesAQ$site == sites.lv[i], ]$latitude, 
                   lon = sitesAQ[sitesAQ$site == sites.lv[i], ]$longitude, 
                   end.year = "current",
                   n = 3, returnMap = F)
    mto$siteAQ <- sites.lv[i]
    sitesMto <- rbind(sitesMto, mto[mto$begin < "2015-01-01", ])
}

In [5]:
head(sitesMto)

  usaf   wban  station   ctry st call latitude longitude elev(m) begin
1 080250 99999 BILBAO    SP   NA LEBB 43.301   -2.911     42.1   1973-01-01
2 080800 99999 VITORIA   SP   NA LEVT 42.883   -2.724    512.7   1973-01-01
3 080210 99999 SANTANDER SP   NA LEXJ 43.427   -3.820      4.9   1973-01-01
4 080250 99999 BILBAO    SP   NA LEBB 43.301   -2.911     42.1   1973-01-01
5 080800 99999 VITORIA   SP   NA LEVT 42.883   -2.724    512.7   1973-01-01
6 080230 99999 SANTANDER SP   NA NA   43.483   -3.800     59.0   1973-01-01
  end        code         longr       latr      dist      siteAQ
1 2021-02-06 080250-99999 -0.05080653 0.7557450  5.464009 es0041a
2 2021-02-06 080800-99999 -0.04754277 0.7484495 45.503738 es0041a
3 2021-02-06 080210-99999 -0.06667158 0.7579441 73.137040 es0041a
4 2021-02-06 080250-99999 -0.05080653 0.7557450  5.363540 es0110a
5 2021-02-06 080800-99999 -0.04754277 0.7484495 50.995824 es0110a
6 2021-02-06 080230-99999 -0.06632251 0.7589215 69.437339 es0110a

### Guardar Datos en csv <a id="saveMto"></a>

In [6]:
write.csv(sitesMto, 
          "data/curation/sitesMto.csv", row.names=FALSE)