# Relacion NN de las estaciones

Estudio de las estaciones de datos en funcion de la cantidad de datos disponibles, la cantidad de `NANs` en los datos y la relevancia dentro del estudio

## Lectura de los datos

In [21]:
nn.sites <- read.csv("../data/csv/nn_sites.csv", stringsAsFactors = FALSE)
head(nn.sites)

  Municipio siteAQ  countAQ siteMto      dist      countMto ws        wd
1 Bilbao    es0041a  66515  080250-99999  5.464009 223729   0.9999464 0.7066272
2 Bilbao    es0041a  66515  080800-99999 45.503738 242582   0.9998805 0.7156755
3 Bilbao    es0041a  66515  080210-99999 73.137040 214667   0.9998975 0.7823885
4 Bilbao    es0110a 204740  080230-99999 69.437339  63175   0.9987653 0.9949664
5 Bilbao    es0110a 204740  080250-99999  5.363540 223729   0.9999464 0.7066272
6 Bilbao    es0110a 204740  080800-99999 50.995824 242582   0.9998805 0.7156755
  air_temp  atmos_pres ⋯ cl_2       cl_3         cl        cl_1_height
1 0.9988736 0.2520415  ⋯ 0.35383880 0.1144956622 0.6121647 0.5995691
2 0.9980172 0.2310600  ⋯ 0.33002449 0.0468006695 0.7187508 0.7064374
3 0.9988913 0.2556704  ⋯ 0.31474330 0.0728896384 0.5931466 0.5803500
4 0.9999209 0.9994618  ⋯ 0.01218837 0.0001424614 0.2994064 0.2641393
5 0.9988736 0.2520415  ⋯ 0.35383880 0.1144956622 0.6121647 0.5995691
6 0.9980172 0.2310600  ⋯ 0.33002449 0.0468006695 0.7187508 0.7064374
  cl_2_height cl_3_height  precip_12   precip     precip_6    pwc
1 0.352265464 0.1144867228 0.005265299 0.10210120 0.005305526 0.04258724
2 0.328429150 0.0467965471 0.004839601 0.09352714 0.004864335 0.01709937
3 0.312805415 0.0728849800 0.005538811 0.10531195 0.005454960 0.05560240
4 0.001060546 0.0001108033 0.079730906 0.30516818 0.146988524 0.09402454
5 0.352265464 0.1144867228 0.005265299 0.10210120 0.005305526 0.04258724
6 0.328429150 0.0467965471 0.004839601 0.09352714 0.004864335 0.01709937

In [22]:
df <- data.frame()
percent <- c(0.5, 0.7, 0.8, 0.9)

for (nm in names(nn.sites)[6:length(names(nn.sites))]) {
    for (i in 1:length(percent)) {
        count <- sum(nn.sites[, nm] >= percent[i])
        df[i, nm] <- count
    } 
}


row.names(df) <- percent
head(df)

    countMto ws  wd  air_temp atmos_pres visibility dew_point RH  ceil_hgt cl_1
0.5 159      159 159 159      46         66         159       159 26       44
0.7 159      159 142 159      38         33         146       146  3        7
0.8 159      152 111 159      38         33         135       135  3        0
0.9 159      142  60 151      38         33         133       133  0        0
    cl_2 cl_3 cl cl_1_height cl_2_height cl_3_height precip_12 precip precip_6
0.5 0    0    44 43          0           0           0         14     0
0.7 0    0     7  7          0           0           0         14     0
0.8 0    0     0  0          0           0           0          8     0
0.9 0    0     0  0          0           0           0          2     0
    pwc
0.5 1
0.7 1
0.8 1
0.9 1

In [25]:
length(levels(as.factor(nn.sites$siteAQ)))
length(levels(as.factor(nn.sites$siteMto)))

[1] 53

[1] 66

In [26]:
nn.sites <- nn.sites[, 1:12]

In [27]:
a <- c(0)

for (i in 1:nrow(nn.sites)) {
    if (FALSE %in% (nn.sites[i, 5:ncol(nn.sites)] > 0.0)) {
        a <- c(a, -i)
    }
}
if (length(a) != 1) {
    nn.sites <- nn.sites[a, ]
}

In [28]:
head(nn.sites)

  Municipio siteAQ  countAQ siteMto      dist      countMto ws        wd
1 Bilbao    es0041a  66515  080250-99999  5.464009 223729   0.9999464 0.7066272
2 Bilbao    es0041a  66515  080800-99999 45.503738 242582   0.9998805 0.7156755
3 Bilbao    es0041a  66515  080210-99999 73.137040 214667   0.9998975 0.7823885
4 Bilbao    es0110a 204740  080230-99999 69.437339  63175   0.9987653 0.9949664
5 Bilbao    es0110a 204740  080250-99999  5.363540 223729   0.9999464 0.7066272
6 Bilbao    es0110a 204740  080800-99999 50.995824 242582   0.9998805 0.7156755
  air_temp  atmos_pres visibility dew_point
1 0.9988736 0.2520415  0.4516983  0.9986055
2 0.9980172 0.2310600  0.4698288  0.9976132
3 0.9988913 0.2556704  0.4832694  0.9984068
4 0.9999209 0.9994618  0.9828888  0.9995410
5 0.9988736 0.2520415  0.4516983  0.9986055
6 0.9980172 0.2310600  0.4698288  0.9976132

In [ ]:
percnt <- 0.8
columns <- 6:ncol(nn.sites)

for (i in 1:nrow(nn.sites)) {
    numVar <- sum(nn.sites[i, columns] >= percnt)
    nn.sites[i, "numVar"] <- numVar
}

head(nn.sites)

In [ ]:
df <- data.frame()
stations <- levels(as.factor(nn.sites$siteAQ))

for (st in stations) {
    a <- nn.sites[nn.sites$siteAQ == st &
                  nn.sites$numVar >= 7, ][order(nn.sites[nn.sites$siteAQ == st &
                                                         nn.sites$numVar == 7, ]$dist), ]

    if (nrow(a) >= 1) {
        a$id <- seq.int(nrow(a))
    
        df <- rbind(df, a[1, ])
    }
}
head(df)

In [ ]:
nrow(df)

In [ ]:
municipios <- levels(as.factor(df[, "Municipio"]))
unique.cty <- data.frame()

for (i in 1:length(municipios)) {
    sm.city <- df[df$Municipio == municipios[i], ]
    
    unique.cty <- rbind(unique.cty, 
                        sm.city[which.max(sm.city$countAQ), ]
                       )
}

head(unique.cty)

In [ ]:
best.sites <- unique.cty[order(-unique.cty$countAQ -unique.cty$countMto), ]
head(best.sites)

In [ ]:
length(levels(as.factor(df$siteAQ)))#best.sites$siteAQ)))
length(levels(as.factor(df$siteMto)))#best.sites$siteMto)))

In [ ]:
best.sites