# OBTENER DATOS METEO DE ESTACIONES AEMET

Se pueden localizar las estaciones meteo mas cercanas a una estacion de CA mediante mapa

In [11]:
suppressMessages(library(worldmet))

source("../src/open_data.R")

Obtenemos la informacion de las estaciones de calidad del aire del estudio

In [13]:
sites <- read.csv("../data/csv/sitesAQ.csv")
head(sites)

  site    process
1 es0041a 31140
2 es0110a 31281
3 es0110a 31282
4 es0110a 31283
5 es0110a 31284
6 es0110a 31285

Obtenemos la informacion de las 3 estaciones meteorologicas mas cercanas a cada estacion de calidad del aire

In [9]:
sites.mto <- data.frame()
sites.lv <- levels(as.factor(sites$site))

for (i in 1:length(sites.lv)) {
    mto <- getMeta(lat = sites[sites$site == sites.lv[i], ]$latitude[1], 
                              lon = sites[sites$site == sites.lv[i], ]$longitude[1], 
                              end.year = "current",
                              n = 3, returnMap = F)
    mto$siteAQ <- sites.lv[i]
    sites.mto <- rbind(sites.mto, mto)
}

In [10]:
head(sites.mto)

  usaf   wban  station   ctry st call latitude longitude elev(m) begin
1 080250 99999 BILBAO    SP   NA LEBB 43.301   -2.911     42.1   1973-01-01
2 080800 99999 VITORIA   SP   NA LEVT 42.883   -2.724    512.7   1973-01-01
3 080210 99999 SANTANDER SP   NA LEXJ 43.427   -3.820      4.9   1973-01-01
  end        code         longr       latr      dist      siteAQ
1 2021-01-16 080250-99999 -0.05080653 0.7557450  5.464009 es0041a
2 2021-01-16 080800-99999 -0.04754277 0.7484495 45.503738 es0041a
3 2021-01-16 080210-99999 -0.06667158 0.7579441 73.137040 es0041a

## Guardar Datos en xlsx <a id="save"></a>

In [ ]:
write.csv(sites.mto, "../data/csv/sitesMto.csv", row.names=FALSE)