# Check Meteo Stations

Filtre Meteo sites in order to obtain those with the main requisites needed to our study.                                      

- Have > 80% of the data from any of the following variables:

    | air_temp | ws | wd | RH |
    |:--------:|:--:|:--:|:--:|
    
**No hay suficientes estaciones con suficientes datos de precipitacion**

- Being at a distance less than 20 km from the AirQuality station

- Only One Meteo station for each AirQuality station

In [1]:
setwd("~/Repositories/AirQualityCOVID/")

## Utilities

In [2]:
erase.sitesAQ <- function(old.df, new.df.codes) {
    final.sites <- data.frame()

    for (cd in levels(as.factor(new.df.codes))) {
        final.sites <- rbind(final.sites,
                             old.df[old.df$code == cd,
                             c("code", "siteAQ")]
                            )
    }
    
    final.sites
}

In [3]:
get.miss.stations <- function(new.df) {
    sitesAQ <- read.csv("data/Curation/sitesAQ.csv",
                        stringsAsFactor=FALSE)

    sitesAQ[!(sitesAQ$site %in% new.df$siteAQ), c("site", "site_name")]
}

## Todas las estaciones de estudio

In [4]:
amount.sitesMto <- read.csv("data/Curation/info_sitesMto_amount.csv",
                            stringsAsFactor=FALSE)

length(levels(as.factor(amount.sitesMto$site)))

[1] 75

In [5]:
sites.Mto <- read.csv("data/Curation/sitesMto.csv", 
                      stringsAsFactor=FALSE)

length(levels(as.factor(sites.Mto$siteAQ)))

[1] 67

## Percentage Summary

In [6]:
df <- data.frame()
percent <- c(0.5, 0.7, 0.8, 0.9)

for (nm in names(amount.sitesMto)[4:length(names(amount.sitesMto))]) {
    for (i in 1:length(percent)) {
        count <- sum(amount.sitesMto[, nm] >= percent[i], na.rm=TRUE)
        df[i, nm] <- count
    } 
}


row.names(df) <- percent
head(df)

    ws wd air_temp atmos_pres visibility dew_point RH ceil_hgt cl_1 cl_2 cl_3
0.5 68 68 69       51         33         67        67 10       23   0    5
0.7 56 50 57       36         15         52        52  1        9   0    5
0.8 36 33 36       20          6         36        36  0        3   0    5
0.9 31 18 31       17          5         31        31  0        0   0    5
    cl cl_1_height cl_2_height cl_3_height precip_6 precip precip_12 pwc
0.5 23 20          0           3           4        7      2         0
0.7  9  9          0           2           3        2      1         0
0.8  3  3          0           2           3        2      0         0
0.9  0  0          0           2           3        2      0         0

## > 80% of Main Variables

In [7]:
percent <- 0.8

data.80 <- amount.sitesMto[amount.sitesMto$ws >= percent &
                           amount.sitesMto$wd >= percent &
                           amount.sitesMto$air_temp >= percent &
                           amount.sitesMto$RH >= percent 
                          , ]

In [8]:
length(levels(as.factor(data.80$site)))

[1] 33

In [9]:
final.sites <- erase.sitesAQ(sites.Mto, data.80$site)

length(levels(as.factor(final.sites$siteAQ)))
head(final.sites)

[1] 52

    code         siteAQ
98  076000-99999 es1494a
147 076000-99999 es1697a
179 077490-99999 es1999a
35  080020-99999 es1138a
58  080110-99999 es1268a
62  080110-99999 es1269a

In [10]:
stations <- get.miss.stations(final.sites)

print("Estaciones Perdidas: ")
for (i in 1:nrow(stations)) {
    print(paste("    ", 
                stations[i, "site"], ": ",
                stations[i, "site_name"], sep=""))
}

[1] "Estaciones Perdidas: "
[1] "    es0115a: PLAZA DE ESPA\303\221A"
[1] "    es0118a: ESCUELAS AGUIRRE"
[1] "    es1018a: Terrassa (Pare Alegre)"
[1] "    es1160a: BURGOS 1"
[1] "    es1262a: Sabadell (Gran Via)"
[1] "    es1525a: CUATRO CAMINOS-PABLO IGLESIAS"
[1] "    es1567a: LEGAN\357\277\275S"
[1] "    es1631a: ARCO DE LADRILLO II"
[1] "    es1632a: VEGA SICILIA"
[1] "    es1834a: CASTELL\303\223-PATRONAT D'ESPORTS"
[1] "    es1938a: CASTELLANA"
[1] "    es1943a: PLAZA EL\303\215PTICA"
[1] "    es2010a: LA RUBIA II"
[1] "    es2028a: GETAFE"
[1] "    es2042a: VALLADOLID SUR"

## Distance < 20 km from AirQuality station

In [11]:
min.dist <- data.frame()

for (st in levels(as.factor(data.80$site))) {
    min.dist <- rbind(min.dist,
                      sites.Mto[sites.Mto$code == st &
                                sites.Mto$dist <= 20
                               , c("code", "siteAQ", "dist")])
}

In [12]:
final.sites <- erase.sitesAQ(sites.Mto, min.dist$code)

length(levels(as.factor(final.sites$siteAQ)))
head(final.sites)

[1] 45

    code         siteAQ
35  080020-99999 es1138a
3   080210-99999 es0041a
124 080210-99999 es1580a
1   080250-99999 es0041a
4   080250-99999 es0110a
51  080250-99999 es1244a

In [13]:
stations <- get.miss.stations(final.sites)

print("Estaciones Perdidas: ")
for (i in 1:nrow(stations)) {
    print(paste("    ", 
                stations[i, "site"], ": ",
                stations[i, "site_name"], sep=""))
}

[1] "Estaciones Perdidas: "
[1] "    es0115a: PLAZA DE ESPA\303\221A"
[1] "    es0118a: ESCUELAS AGUIRRE"
[1] "    es1018a: Terrassa (Pare Alegre)"
[1] "    es1160a: BURGOS 1"
[1] "    es1262a: Sabadell (Gran Via)"
[1] "    es1268a: PLAZA DE TOROS"
[1] "    es1269a: PALACIO DE DEPORTES"
[1] "    es1270a: HERMANOS FELGUEROSO"
[1] "    es1271a: ARGENTINA"
[1] "    es1272a: CONSTITUCI\303\223N"
[1] "    es1358a: AVENIDA DE CASTILLA"
[1] "    es1525a: CUATRO CAMINOS-PABLO IGLESIAS"
[1] "    es1567a: LEGAN\357\277\275S"
[1] "    es1573a: MERCADO CENTRAL"
[1] "    es1631a: ARCO DE LADRILLO II"
[1] "    es1632a: VEGA SICILIA"
[1] "    es1834a: CASTELL\303\223-PATRONAT D'ESPORTS"
[1] "    es1938a: CASTELLANA"
[1] "    es1943a: PLAZA EL\303\215PTICA"
[1] "    es2010a: LA RUBIA II"
[1] "    es2028a: GETAFE"
[1] "    es2042a: VALLADOLID SUR"